<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TTMulti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TTMulti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TTMulti.Properties.Settings>
            <setting name="sendDeleteToRightOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="onTopWhenInactive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="compactUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numberOfGroups" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="disableKeepAlive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="modeKeyCode" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="leftJumpKeyCode" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="leftThrowKeyCode" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="leftEscapeKeyCode" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="leftForwardKeyCode" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="leftLeftKeyCode" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="leftBackKeyCode" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="leftRightKeyCode" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="rightJumpKeyCode" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="rightThrowKeyCode" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="rightEscapeKeyCode" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="rightForwardKeyCode" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="rightLeftKeyCode" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="rightBackKeyCode" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="rightRightKeyCode" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="keepAliveKeyCode" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="keyBindings" serializeAs="String">
                <value />
            </setting>
            <setting name="leftKeys" serializeAs="String">
                <value />
            </setting>
            <setting name="rightKeys" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="runAsAdministrator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controlAllGroupsKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="individualControlKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="replicateMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="replicateMouseKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastGroupsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="groupModeKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mirrorModeKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="groupModeCycleWithModeHotkey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mirrorModeCycleWithModeHotkey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="allGroupModeCycleWithModeHotkey" serializeAs="String">
                <value>False</value>
            </setting>
        </TTMulti.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <TTMulti.Properties.Settings>
            <setting name="homepageUrl" serializeAs="String">
                <value>https://danfresneda.com/tt/multicontroller</value>
            </setting>
        </TTMulti.Properties.Settings>
    </applicationSettings>
</configuration>
